header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--spacing);
  padding-bottom: var(--spacingx2);
}

.header__navbar{
  display: flex;
}

@media screen and (max-width: 720px) {
  header {
    flex-direction: column;
  }

  .header__navbar {
    flex-direction: column;
  }
}

@media screen and (max-width: 360px) {
  header {
    flex-direction: column;
  }

  .header__navbar {
    flex-direction: column;
  }
}
