.information {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 500px;
  grid-column-gap: var(--spacingx2);
  padding: var(--spacingx3) 0px;
}

.article{
  position: relative;
}

.article__title{
  padding: var(--spacing) 0px;
  margin: 0px var(--spacingx2);
  color: var(--colorDark);
  border-bottom: 1px solid var(--colorClearRGBA);
}

.article__content {
  padding: var(--spacingx2) 0px;
}

.article p {
  padding: var(--spacing) 0px;
}

.new__title {
  padding-bottom: var(--spacing);
  color: var(--colorDark)
}

.service__list {
  margin-left: var(--spacingx3);
}

.service__list li {
  padding-bottom: var(--spacingx2);
  color: var(--colorClearRGBA);
}

.service__list a {
  color: var(--colorPrincipal);
  font-weight: 600;
}

.service__list a:hover {
  text-decoration: underline;
}